<center>

{{#each result_usuarios}}
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{nombre}}</h5>
    <p class="card-text">{{text_post}}</p>
    <form action="" method="post">
        <button type="button" class="btn btn-outline-light"><img src="/img/me-gusta.png" width="30px" height="30px"></button>
        <button type="button" class="btn btn-outline-light"><img src="/img/comentar-bocadillo.png" width="30px" height="30px"></button>
    </form>
  </div>
</div>
{{/each}}
<br>

</center>
