<div class="contanier">
    <h1>Vista de Servicios</h1>
</div>
<br><br>
<div class="container">
    <h2>Corte</h2>
    <h2>Uñas</h2>
    <h2>Maniquire</h2>
    <h2>Depilacion</h2>
    <h2>Tintes</h2>
    <h2>Maquillaje</h2>
</div>