<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Electiva de Formacion Complemetaria: Clases</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <form action="" method="POST">
                <div class="mb-3">
                    <input type="text" class="form-control" name="nombre" placeholder="nombre">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" name="jornada" placeholder="jornada">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" name="nivel" placeholder="nivel">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-8">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    </tr>
                    <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>