
{{#each result_usuarios}}
<center>
<img src="/img/{{img}}" width="400px" height="400px">
<br>
{{/each}}

{{#each result_comentario}}
<h1>Comentario: {{comentario}}</h1>
{{/each}}

<form action="" method="post">
    <button type="button" class="btn btn-outline-light"><img src="/img/me-gusta.png" width="30px" height="30px"></button>
</form>
<form action="" method="post">
    <button type="button" class="btn btn-outline-light"><img src="/img/comentar-bocadillo.png" width="30px" height="30px"></button>
</form>
</center>